@import url('https://fonts.googleapis.com/css2?family=Gideon+Roman&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --font-family: 'Inter', sans-serif;
  --gold: #FFD700;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#time {
  font-family: "Gideon Roman", serif;
  font-size: 48px;
}

#container {
  padding: 40px;
  text-align: center;
}

#locate-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  text-decoration: none;
  color: #333;
  transition: color 0.3s;
  cursor: pointer;
}

#locate-btn:hover {
  color: var(--gold);
}