@import url('https://fonts.googleapis.com/css2?family=Gideon+Roman&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --font-family: 'Inter', sans-serif;
  --gold: #FFD700;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#container {
  padding: 40px;
  text-align: center;
  border: 2px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

#locate-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  text-decoration: none;
  color: #333;
  transition: color 0.3s;
  cursor: pointer;
}

#locate-btn:hover {
  color: var(--gold);
}