@import url('https://fonts.googleapis.com/css2?family=Gideon+Roman&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --font-family: 'Inter', sans-serif;
  --gold: #FFD700;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#time {
  font-family: "Gideon Roman", serif;
  font-size: 48px;
}

#container {
  padding: 40px;
  text-align: center;
}

#locate-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  text-decoration: none;
  color: #333;
  transition: color 0.3s;
  cursor: pointer;
}

#locate-btn:hover {
  color: var(--gold);
}


#settings-btn {
  position: absolute;
  top: 20px;
  left: 20px;
  text-decoration: none;
  color: #333;
  transition: color 0.3s;
  cursor: pointer;
}

#settings-btn:hover {
  color: var(--gold);
}

#settings-panel {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding-top: 0px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  width: 250px;
  z-index: 1000;
  transition: transform 0.3s ease-in-out;
}

#settings-panel.hidden {
  transform: translateY(-50%) translateX(calc(-300px - 20px));
}